body {
    background-color: purple;
    text-align: center;
}

table {
    width: 600px;

}

p,
h1 {
    color: red;
}

h1 {
    background-color: lightblue;
}

#para1 {
    color: red;
}

.colortext {
    color: red;
}